<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINE SELECT</title>
    <link rel="stylesheet" href="profilestyle.css">
</head>
<body>
    <header>
        <h2>CINE SELECT</h2>
        <P>"Your Personal Film Concierge"</P>
    </header>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="services.html">Services</a></li> 
            <li><a href="Contact.html">Contact</a></li>
        </ul>
        <div class="nav-right">
            <div class="profile">
                <img src="default-profile-pic.jpg" alt="Profile Picture" class="profile-pic" id="profile-pic">
                <span class="username" id="username">User</span>
                <div class="dropdown-menu" id="dropdown-menu">
                    <a href="profile.html">Profile</a>
                    <a href="settings.html">Settings</a>
                    <a href="login.html" onclick="signOut()">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <footer>
        <p>&copy; Cine-Select @Sindhusrinivas. All rights reserved.</p>
    </footer>
    <script>
        function signOut() {
            window.location.href = "login.html";
        }
    </script>
    <script src="profilescript.js"></script>
</body>
</html>